/************************/
/****** Components ******/
/************************/

/* Button */
.c-button {
    background-color: var(--white);
    border: 0;
    border-radius: var(--radius-xl);
    display: inline-block;
    font-family: var(--font-opensans--bolder);
    font-weight: bolder;
    letter-spacing: var(--letter-spacing);
    min-width: 200px;
    text-align: center;
    text-decoration: none;
    padding: var(--space-m);
    -webkit-appearance: none;
}

.c-button--primary {
    background-color: var(--primary);
    color: var(--white);
}

.c-button--secondary {
    background-color: var(--secondary);
    color: var(--white);
}

.c-button--simple {
    border-color: transparent;
    font-family: var(--font-primary);
    letter-spacing: 0;
    padding: 0;
}

/* Navigation */
.c-nav,
.c-nav__lang {
    color: var(--white);
    text-decoration: none;
}

.c-nav__img img {
    height: 30px;
}

.c-nav__wrapper {
    background: var(--grey);
    align-items: stretch;
    display: flex;
    padding: var(--space-s);
    justify-content: space-between;
}

.c-nav__button {
    height: 30px;
    position: relative;
    width: 40px;
    z-index: 4;
}

.c-nav__button--bar,
.c-nav__button--bar::before,
.c-nav__button--bar::after {
    position: absolute;
    width: 40px;
    height: 3px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    background-color: var(--primary);
}

.c-nav__button--bar::before,
.c-nav__button--bar::after {
    content: '';
}

.c-nav__button--bar::before {
    top: 13px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform,opacity;
}

.c-nav__button--bar::after {
    top: 26px;
}
.c-nav__button--active .c-nav__button--bar,
.c-nav__button--active .c-nav__button--bar::before,
.c-nav__button--active .c-nav__button--bar::after {
    background-color: var(--black);
}

.c-nav__button--active .c-nav__button--bar {
    transform: translate3d(0,10px,0) rotate(45deg);
}

.c-nav__button--active .c-nav__button--bar::before {
    transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
    opacity: 0;
}

.c-nav__button--active .c-nav__button--bar::after {
    transform: translate3d(0,-26px,0) rotate(-90deg);
}


/* Filters */
.c-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-filters__item {
    background: var(--primary);
    border: 1px solid var(--white);
    color: var(--white);
    flex: 1 1 0;
    font-family: var(--font-opensans--bolder);
    font-size: calc( .85 * var(--text-s));
    min-width: 95px;
    padding: calc(2 * var(--space-s)) var(--space-s);
}

.c-filters__item:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.c-filters__item--medium {
    background: rgba(var(--medium), .1);
    border-color: rgb(var(--medium));
}

.c-filters__item--hard {
    background: rgba(var(--hard), .1);
    border-color: rgb(var(--hard));
}

.c-filters__item--very-hard {
    background: rgba(var(--very-hard), .1);
    border-color: rgb(var(--very-hard));
}

.c-filters__item--active {
    background: var(--grey);
    color: var(--primary);
}

.c-filters__item--deactive {
    opacity: .4;
}


/* Iframe */
.c-iframe {
    width: 1px;
    min-width: 100%;
    max-width: 100%;
}


/* Banner image */
.c-banner-image {
    margin-top: calc(-1 * var(--space-m));
    position: relative;
}

.c-banner-image__logo {
    bottom: -2rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 30vw;
}

@media only screen and (min-width: 768px) {
    .c-banner-image__bg {
        height: 20rem;
        object-fit: fill;
        width: 100%;
    }

    .c-banner-image__logo {
        max-width: 10rem;
    }
}


/* Paragraph image */
.c-paragraph-img {
    float: left;
    padding-right: var(--space-m);
    width: 7rem;
}
