/* General layout styles */

body {
    background: var(--white);
    color: var(--text-color);
    font-family: var(--font-primary);
    line-height: var(--line-height-m);
}

.l-page {
    padding: var(--space-m) calc(2.5 * var(--space-m));
    font-family: var(--font-opensans--lighter);
}

.l-page > p {
    text-indent: calc(2.5 * var(--space-m));
}

.u-text--center p {
    text-indent: 0;
}

.l-page--reverse {
    background: var(--primary);
}

.l-page__item--out {
    margin-left: calc(-2.5 * var(--space-m));
    margin-right: calc(-2.5 * var(--space-m))
}

.l-scroll--hide {
    height: 100vh;
    overflow: hidden;
}

h2 {
    border-bottom: 5px solid var(--primary);
    font-family: var(--font-primary);
    font-size: var(--text-l);
    font-weight: bold;
    margin: var(--space-l) auto var(--space-l);
    padding-bottom: .25em;
    text-align: center;
    width: 90%;
}

h3 {
    color: var(--secondary);
    font-family: var(--font-opensans--bolder);
    font-size: var(--text-l);
    margin: var(--space-l) auto var(--space-l);
    text-align: center;
}

.l-page--reverse h2 {
    border-bottom-color: var(--white);
}

a {
    color: var(--primary);
}

@media only screen and (min-width: 1000px) {
    .l-page {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}
